* {
  margin: 0.3rem;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  gap: 4rem;
  
}
li{
  list-style: none;
}
.navegacion{
  padding: 2rem;
  border-bottom: 1px solid white;
}
.loader {
  width: 68px;
  height: 68px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  margin: 18rem;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ff3d00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.contaiderId{
  display: grid;
  place-content: center;
  text-align: center;
  gap: 1.2rem;
}
img{
  width: 250px;
  margin-left: 0.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.related{
  margin: 4rem;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.2rem;
}
.related-card{
  display: grid;
  place-content: center;
  align-items: center;
  background-color: rgb(248, 239, 227);
  text-align: center;
  border-radius: 2rem;
  justify-content: center;
}
.related-card>img{
  width: 160px;
  height: 160px;
}
.logg{
  display: grid;
  place-content: center;
}
.container{
  display: grid;
  place-content: center;
  gap: 2rem;
}

.category{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
}
.quantity{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 1.4rem;
  justify-content: center;
}
.quantity>input{
  text-align: center;
}